<main class="page">
  <div class="main-header">
    <div class="title">
      <h1>About</h1>
    </div>
  </div>

  <div class="about-container">
    <p>
      This is a project written using Angular2/4, with Typescript and SCSS. All the components are mostly written from scratch except the following: 
    </p> 
    
    <ul>
      <li>
        <h3>Charts (ChartJS)</h3>
        For graph charts, it would be better to use a proven library, ChartJS, to speed up my development.
      </li>
      <li>
        <h3>Data (Firebase)</h3>
        I use Firebase as my core database storage, as it will be easier for me to set up and also there has been an active library connecting Angular and Firebase called AngularFire.
      </li>
      <li>
        <h3>Icons (Google Material)</h3>
        For visual representations, I use icons, specifically from Google Material. The usage of icons is solely for additional aesthetic values (on top of, otherwise, text-only contents). And the reason to use icons instead of images, is due to icons being a part of fonts can load faster and easier to style.
      </li>
    </ul>

    <h2>Coding</h2>

    <p>In terms of language, I used the following:</p>
    <ul>
      <li>
        <h3>Development (Angular2 + Typescript)</h3>
        With Ng2/4, it eases my work to build a single feature components which can be reuse to contain different contents depending on which behavior the user may trigger.
      </li>
      <li>
        <h3>Style (SCSS)</h3>
        I use SCSS for it's reusable variables within CSS. It helps a lot to modularise the CSS into collections of variables which can be changed with ease in future. (Future ideas: Similarly, we can utilise such features to be build a standard site with changeable theme, with just tweaks of variables) 
      </li>
    </ul>

    <h2>Follow-ups</h2>
    <p>
      I believe there is a lot more that can be done for faster, more efficient development. Like, usage of Bootstrap for responsiveness, Google Materials for cleaner interface design. Due to time constraint, I am unable to build together with testing as well, something that I hope to include after this.
    </p>
    <p>
      A lot of the codes can be further factorised to make the code slimmer.
    </p> 
  </div>
</main>